.cartWindow {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.6);
    z-index: 10;
}

.back {
    position: absolute;
    left: 0%;
    width: 77.5%;
    height: 100%;
}

.cart {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    right: 0%;
    background-color: #1A1A1A;
    width: 22.5%;
    height: 100%;
    z-index: 12;
    padding: 30px 28px;
    box-sizing: border-box;
}

.topHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topHeader h2 {
    color: white;
    font-size: 28px;
    font-family: "GT Ultrabold";
}

.topHeader h3 {
    padding-top: 4px;
    font-size: 16px;
    font-family: "GT Light";
    color: #ccc;
    transform: scaleY(0.95);
    transition: 0.3s all;
    cursor: pointer;
}

.topGames {
    padding-top: 10px;
}

.right {
    transition: 0.3s all;
}

.topHeader h3:hover {
    color: white;
}

.topHeader h3:active {
    transform: scale(0.9);
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom h3 {
    color: #999;
    font-size: 16px;
}

.bottom button {
    background-color: transparent;
    border: 1px transparent;
    color: white;
    font-family: "GT Medium";
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: 0.3s all;
}

.bottom button:active {
    transform: scale(0.925);
}

.bottom button * {
    pointer-events: none;
}

.item {
    margin-top: 13px;
    background-color: #262626;
    border-radius: 10px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 17px 20px;
}

.item h3 {
    font-size: 16px;
    font-family: "GT Regular";
    transition: 0.3s all;
    cursor: pointer;
}

.item h3:hover {
    color: #fff;
}

.item h3:active {
    transform: scale(0.915);
}

.item div {
    display: flex;
    gap: 16px;
    color: #999999;
    font-size: 14px;
    font-family: "GT Medium";
    align-items: center;
}

.item div button {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px transparent;
    background-color: #2e2e2e;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s all;
}

.item div button:hover {
    background-color: #353535;
}

.item div button:active {
    transform: scale(0.92);
}

.cross {
    width: 9px;
    height: 9px;
    fill: #fff;
}