.gridContainer {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 311px;
    grid-gap: 20px;
    padding-bottom: 50px;
}

@media (max-width: 1700px) {
    .gridContainer {
        grid-template-rows: 280px;
    }
}