.addToCart {
    display: flex;
    gap: 6px;
    cursor: pointer;
}

.addToCart * {
    pointer-events: none;
}

.addToCart h4 {
    font-family: "GT Light";
    font-size: 0.945em;
    color: #999;
    transition: 0.3s all;
}

.add {
    width: 14px;
    transition: 0.3s all;
}