.card {
    background-color: #202020;
    grid-column: auto;
    border: 1px transparent;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s all;
    position: relative;
}

.card:hover {
    background-color: #2d2d2d;
    transform: scale(1.035);
}

.card:active {
    transform: scale(0.975);
}

.card img {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    max-width: 100%;
}

.card div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 15px 3px 7px;
}

.name {
    color: white;
    padding-left: 14px;
    font-family: "GT Bold";
    padding-bottom: 30px;
}

.price {
    color: white;
    font-family: "GT Medium";
}

.price div {
    color: #999;
}

.like {
    background-color: transparent;
    border: none;
    position: absolute;
    width: 18px;
    bottom: 5%;
    right: 4.5%;
    transition: 0.3s;
    cursor: pointer;
}

.like * {
    pointer-events: none;
}

.likeSVG:hover {
    fill: rgb(248, 103, 103);
}

.likeSVG:focus {
    transform: scale(1.25);
}