* {
    margin: 0;
    padding: 0;
}

.overlap {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0f1011;
    z-index: 10;
}

html, 
body {
    margin: 0; 
    width: 100vw;
}

.parent * {
    pointer-events: none;
}

.container {
    display: flex;
    justify-content: space-between;
}

.careers {
    color: #45c1bc;
    font-family: "GT Medium";
    cursor: pointer;
}

a {
    text-decoration: none;
}

.left,
.right {
    width: 50vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right {
    align-items: flex-end;
}

.left .buttons .browseBtn {
    background-color: #45c1bc;
}

.buttonsRight {
    margin-right: 40px;
    position: relative;
    border-radius: 20px;
    padding: 22px 30px 30px 30px;
    box-sizing: border-box;
    gap: 5px;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(6px);
}

.buttonsRight button {
    width: 100%;
    justify-content: flex-start;
    padding-left: 48px;
    gap: 15px;
}

.buttonsRight h2 {
    font-size: 26px;
    margin-bottom: 14px;
}

.technologies {
    height: 18px;
    width: 18px;
}

.video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    background-attachment: fixed;
  }

.splash {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 630px;
    height: 240px;
    box-sizing: border-box;
    padding: 22px 35px 55px 50px;
    margin-left: 44px;
    border-radius: 30px;
    z-index: 6;
    backdrop-filter: blur(8px);
}

.buttons {
    display: flex;
    position: relative;
    width: 630px;
    height: 70px;
    box-sizing: border-box;
    padding: 14px 20px 15px 20px;
    margin-left: 44px;
    margin-top: 15px;
    border-radius: 30px;
    z-index: 6;
    backdrop-filter: blur(8px);
    justify-content: space-between;
}

.cta {
    background-color: #fff;
    border: 1px transparent;
    border-radius: 18px;
    color: black;
    padding: 10px 28px;
    display: flex;
    gap: 12px;
    font-family: "GT Medium";
    font-size: 16px;
    transition: 0.3s all;
    cursor: pointer;
}

.cta:hover {
    transform: scale(1.03);
    background-color: #45c1bc;
}

.cta * {
    pointer-events: none;
}

.cta .linkedin {
    padding-bottom: 1px;
}

.lastChild {
    gap: 10px;
}

.cta span {
    padding-top: 1px;
}

.ctaSVG {
    height: 18px;
    width: 18px;
}

.buttons::after,
.splash::after,
.buttonsRight::after {
    content: "";
    position: absolute;
    border-radius: 30px;
    inset: 0.01%;
    height: inherit;
    width: inherit;
    z-index: -1;
    background-color: white;
    opacity: 0.285;
}

.intro {
    color: white;
    padding-left: 5px;
    font-family: "GT Regular";
    font-size: 19px;
    opacity: 1;
}

.splash h1 {
    font-family: "GT Bold";
    font-size: 90px;
    color: white;
}

.home h2 {
    color: white;
    font-family: "GT Bold";
}

@media only screen and (max-width: 1000px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .left,
    .right {
        width: auto;
        height: auto;
        margin-top: 100px;
    }

    .buttonsRight,
    .buttons,
    .splash {
        margin-right: 0px;
        margin-left: 0px;
    }
}

@media screen and (max-width: 700px) {
    .left,
    .splash {
        width: 450px;
    }

    .right {
        margin-top: 20px;
        margin-bottom: 100px;
    }

    .buttons {
        width: 276px;
        height: 190px;
        align-self: center;
        flex-direction: column;
    }

    .buttons button {
        width: 100%;
        gap: 20px;
        padding-left: 75px;
    }

    .splash {
        height: 225px;
    }

    .splash h1 {
        font-size: 56px;
    }
}

@media screen and (max-width: 500px) {
    .left,
    .splash {
        width: 276px;
    }

    .splash {
        padding: 10px 35px 10px 35px;
        height: 60px;
        justify-content: center;
    }

    .splash h1 {
        font-size: 36px;
    }

    .splash p {
        display: none;
    }
}


