* {
    margin: 0;
    padding: 0;
}

html, 
body {
    margin: 0; 
    width: 100vw;
}

.parent * {
    pointer-events: none;
}

.main {
    background-color: #0f1011;
}

.home {
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    padding-bottom: 6.5vh;
}

.home_content {
    margin-top: 4.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.home_content h1 {
    font-family: "GT Bold";
    font-size: 110px;
    color: #fff;
    text-shadow: 14px 10px 40px black
}

.home_content div {
    margin-top: 14px;
    padding: 11px 38px;
    display: flex;
    gap: 14px;
    align-items: center;
    justify-content: center;
    background-color: #2d2d2d;
    border-radius: 20px;
    border: 1px transparent;
}

.ign {
    width: 23px;
    height: 23px;
}

.home_content div h2 {
    color: white;
    font-family: "GT Bold";
    font-size: 20px;
}

.buttons {
    z-index: 10;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 68%;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.buttons button {
    background-color: black;
    border: 1px transparent;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 4px 26px 5px 16px;
    transition: 0.3s ease-in-out;
}

.buttons button:hover {
    background-color: #79d2b5;
}

.svg {
    transform: scale(0.85);
    fill: rgb(219, 219, 219);
    transition: 0.3s;
}

.svg:hover {
    fill: #fff
}

.home_cred {
    display: flex;
    justify-content: center;
    background-color: #0f1011;
    height: 23.5vh;
    display: flex;
}

button div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.home_cred button {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    height: 100px;
    width: 320px;
    border: 1px transparent;
    border-radius: 30px;
    background-color: #2d2d2d;
    font-family: "GT Bold";
    font-size: 48px;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    color: #fff;
}


.home_cred button:hover {
    background-color: #363636;
}

.home_cred button:active {
    transform: scale(0.9);
}

.browse {
    stroke: #fff;
    stroke-width: 1px;
    fill: #fff;
}

h3,
p {
    transition: all 0.2s;
}

.home_cred button div {
    width: 35px;
    height: 35px;
    position: relative;
    transform:rotate(45deg);
    -ms-transform:rotate(45deg); 
    -webkit-transform:rotate(45deg); 
}
 
.home_cred button div:before, .home_cred button div:after {
   content: "";
   position: absolute;
   z-index: -1;
   background: #99a6ec;
 }
 
.home_cred button div:before {
   left: 55%;
   width: 20%;
   margin-left: -15%;
   height: 100%;
 }
 
 .home_cred button div:after {
   top: 53%;
   height: 20%;
   margin-top: -15%;
   width: 100%;
 }

