.slider {
    width: 67.5%;
    height: 675px;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 20px;
}

.slide {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.currentImg {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: move; 
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.currentImg:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    
}

.forward,
.backwards {
    height: 100%;
    width: 48px;
    bottom: 0%;
    position: absolute;
    background-color: transparent;
    border: 1px transparent;
    z-index: 10;
}

.left,
.right {
    transition: 0.3s all;
}

.forward *,
.backwards * {
    pointer-events: none;
}

.backwards {
    left: 1.75%;
    fill: #ccc;
}

.forward {
    right: 1.5%;
    fill: #ccc;
}

.forward,
.backwards {
    cursor: pointer;
    transition: 0.3s all;
}

.forward:active,
.backwards:active {
    transform: scale(0.9);
}

.selectorContainer {
    position: absolute;
    bottom: 1.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 136px;
    border-radius: 10px;
    padding: 11px 18px;
    height: 34px;
    box-sizing: border-box;
    background-color: #0F1011;
    opacity: 0.8;
    transition: 0.75s all;
    display: flex;
    justify-content: space-between;
}

.selectorContainer:hover {
    opacity: 1;
}

.indicator {
    bottom: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    box-sizing: border-box;
    background-color: #474747;
    opacity: 0.8;
    transition: 0.75s all;
    display: flex;
    font-size: 0px;
    transition-duration: 0.6s;
    cursor: pointer;
}

.indicator:active {
    transform: scale(0.7);
}

.indicator * {
    pointer-events: none;
}

.react-slideshow-container {
    position: relative;
}

ul {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 16px;
    z-index: 20;
    align-items: center;
}

.indicator:hover {
    background-color: #92f !important;
    width: 12px;
    height: 12px;
    transition-duration: 0.6s;
}